flows/Deploy_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>erwrewer</name>
        <label>erwre</label>
        <locationX>332</locationX>
        <locationY>49</locationY>
        <actionName>Case.LogACall</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Create_REcords</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Deploy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deploy Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ContactRequestFlow</processType>
    <recordCreates>
        <name>Create_REcords</name>
        <label>Create REcords</label>
        <locationX>136</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>erwrewer</targetReference>
        </connector>
        <object>Contact</object>
    </recordCreates>
    <start>
        <locationX>563</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>erwrewer</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
